ul {
    list-style: none
}

li {
    margin-top: 10px
}

.posts-title {
}

.posts-subtitle {
    font-style: italic;
    margin-top: -20px
}

.posts-date {
    margin-top: -10px
}

.posts-tags ul,
.post-tags ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.post-tags ul 
{
    margin-top: -20px;
    margin-bottom: 20px;
}

.posts-tags ul li, 
.post-tags ul li
{
    display: inline;
}

.posts-tags li, 
.post-tags li 
{
    font-size: smaller;
    font-style: italic;
    color: #aaaaaa;
}

